# Home Assistant Configuration
HA_URL=http://IP_HOME_ASSISTANT:8123
HA_TOKEN=COLE_SEU_TOKEN_AQUI
ENTITY_ID=switch.difusor_socket_1

# Timing Configuration (seconds)
INTERVAL_TIME=2
COLOR_SEQUENCE=colorido,rosa,azul,vermelho,verde,ciano,roxo,amarelo,branco

# Timer webhook
TIMER_WEBHOOK_URL=

TIMER_WEBHOOK_USERNAME=
TIMER_WEBHOOK_PASSWORD=

TIMER_WEBHOOK_INTERVAL=2

# Logging
LOG_LEVEL=INFO
LOG_MAX_SIZE=10485760

# Application
APP_TIMEZONE=America/Sao_Paulo